In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df_140 = pd.read_csv('140W.csv')
df_280 = pd.read_csv('280W.csv')
df_420 = pd.read_csv('420W.csv')
df_140

,Date,Hour,Min.,Sec.,Elapse[min.],MFC-1[sccm],MFC-2[sccm],MFC-3[sccm],MFC-4[sccm],MFC-5[sccm],...,TI-13['C],TI-14['C],TI-15['C],TI-16['C],TI-SP1['C],TI-SP2['C],PT-1[bar],Volt[V],Curr[A],Unnamed: 39
0,2025-10-31-,17,3,32,0.27,-1.74,-1.58,-1.52,-1.00,-0.08,...,51.2,49.8,54.4,44.6,1448.5,1448.5,0.000,2.62,50,131.0
1,2025-10-31-,17,3,33,0.28,70.34,-1.59,-1.53,-0.99,-0.08,...,52.1,50.8,55.8,45.3,1448.5,1448.5,0.000,2.62,50,131.0
2,2025-10-31-,17,3,34,0.30,45.70,-1.57,-1.52,-1.00,-0.08,...,52.1,50.8,55.8,45.3,1448.5,1448.5,0.002,2.62,50,131.0
3,2025-10-31-,17,3,35,0.32,46.30,-1.57,-1.53,-1.00,-0.08,...,52.1,50.8,55.8,45.3,1448.5,1448.5,0.002,2.62,50,131.0
4,2025-10-31-,17,3,36,0.33,47.46,-1.57,-1.53,-0.99,-0.08,...,53.0,51.8,57.1,46.1,1448.5,1448.5,0.002,2.62,50,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12922,2025-10-31-,20,38,54,215.63,49.52,-1.66,-1.60,-1.05,-0.09,...,276.9,315.1,291.2,229.0,1448.5,1448.5,0.006,0.00,0,0.0
12923,2025-10-31-,20,38,55,215.65,49.51,-1.67,-1.61,-1.06,-0.08,...,264.8,315.1,283.6,229.0,1448.5,1448.5,0.006,0.00,0,0.0
12924,2025-10-31-,20,38,56,215.67,49.53,-1.67,-1.60,-1.06,-0.09,...,264.8,308.0,283.6,222.4,1448.5,1448.5,0.006,0.00,0,0.0
12925,2025-10-31-,20,38,57,215.68,49.51,-1.67,-1.61,-1.06,-0.09,...,264.8,308.0,283.6,222.4,1448.5,1448.5,0.006,0.00,0,0.0
12926,2025-10-31-,20,38,58,215.70,49.52,-1.67,-1.60,-1.07,-0.09,...,257.7,308.0,279.5,222.4,1448.5,1448.5,0.006,0.00,0,0.0

In [59]:
# 140W
print(df_140.columns)
t = df_140.loc[df_140['Curr[A]'] != 0, ' Elapse[min.]']
T1 = df_140.loc[df_140['Curr[A]'] != 0, "TI-1['C]"]
T2 = df_140.loc[df_140['Curr[A]'] != 0, "TI-2['C]"]
T3 = df_140.loc[df_140['Curr[A]'] != 0, "TI-3['C]"]
T4 = df_140.loc[df_140['Curr[A]'] != 0, "TI-4['C]"]
T5 = df_140.loc[df_140['Curr[A]'] != 0, "TI-5['C]"]
T6 = df_140.loc[df_140['Curr[A]'] != 0, "TI-6['C]"]
T7 = df_140.loc[df_140['Curr[A]'] != 0, "TI-7['C]"]
T8 = df_140.loc[df_140['Curr[A]'] != 0, "TI-8['C]"]
T9 = df_140.loc[df_140['Curr[A]'] != 0, "TI-9['C]"]
T10 = df_140.loc[df_140['Curr[A]'] != 0, "TI-10['C]"]
T11 = df_140.loc[df_140['Curr[A]'] != 0, "TI-11['C]"]
T12 = df_140.loc[df_140['Curr[A]'] != 0, "TI-12['C]"]
T13 = df_140.loc[df_140['Curr[A]'] != 0, "TI-13['C]"]
T14 = df_140.loc[df_140['Curr[A]'] != 0, "TI-14['C]"]
T15 = df_140.loc[df_140['Curr[A]'] != 0, "TI-15['C]"]
T16 = df_140.loc[df_140['Curr[A]'] != 0, "TI-16['C]"]
I = df_140.loc[df_140['Curr[A]'] != 0, 'Curr[A]']

display(T1.tail())
display(T2.tail())
display(T3.tail())
display(T4.tail())
display(T5.tail())
display(T6.tail())
display(T7.tail())
display(T8.tail())
display(T9.tail())
display(T10.tail())
display(T11.tail())
display(T12.tail())
display(T13.tail())
display(T14.tail())
display(T15.tail())
display(T16.tail())

import json

# T1부터 T16까지 마지막에서 4번째 전값을 추출해서 리스트로 저장 (숫자만)
temp_profile = []
for i in range(1, 17):
    Ti = eval(f"T{i}")
    # 마지막에서 4번째 전값: -4 인덱스
    temp_profile.append(float(Ti.iloc[-4]))

# JSON 파일로 저장 (숫자만 리스트)
with open('Temp_profile_140W.json', 'w', encoding='utf-8') as f:
    json.dump(temp_profile, f, ensure_ascii=False, indent=4)

Index(['Date', 'Hour', ' Min.', ' Sec.', ' Elapse[min.]', 'MFC-1[sccm]',
       'MFC-2[sccm]', 'MFC-3[sccm]', 'MFC-4[sccm]', 'MFC-5[sccm]',
       'MFC-6[sccm]', 'Pre-HT['C]', 'HJ['C]', 'HB-1['C]', 'HB-2['C]',
       'HB-3['C]', 'HB-4['C]', 'HB-5['C]', 'TI-1['C]', 'TI-2['C]', 'TI-3['C]',
       'TI-4['C]', 'TI-5['C]', 'TI-6['C]', 'TI-7['C]', 'TI-8['C]', 'TI-9['C]',
       'TI-10['C]', 'TI-11['C]', 'TI-12['C]', 'TI-13['C]', 'TI-14['C]',
       'TI-15['C]', 'TI-16['C]', 'TI-SP1['C]', 'TI-SP2['C]', 'PT-1[bar]',
       'Volt[V]', 'Curr[A]', 'Unnamed: 39'],
      dtype='object')

12595    469.3
12596    469.3
12597    469.3
12598    469.3
12599    469.3
Name: TI-1['C], dtype: float64

12595    503.4
12596    503.4
12597    503.4
12598    503.4
12599    503.4
Name: TI-2['C], dtype: float64

12595    561.9
12596    561.9
12597    561.8
12598    561.8
12599    561.8
Name: TI-3['C], dtype: float64

12595    589.8
12596    589.8
12597    589.8
12598    589.8
12599    589.8
Name: TI-4['C], dtype: float64

12595    617.1
12596    617.1
12597    617.1
12598    617.1
12599    617.1
Name: TI-5['C], dtype: float64

12595    634.9
12596    634.9
12597    634.8
12598    634.8
12599    634.8
Name: TI-6['C], dtype: float64

12595    632.9
12596    632.9
12597    632.9
12598    632.9
12599    632.9
Name: TI-7['C], dtype: float64

12595    625.0
12596    625.0
12597    625.0
12598    625.0
12599    625.0
Name: TI-8['C], dtype: float64

12595    656.5
12596    656.5
12597    656.5
12598    656.5
12599    656.5
Name: TI-9['C], dtype: float64

12595    653.0
12596    653.0
12597    653.0
12598    653.0
12599    653.0
Name: TI-10['C], dtype: float64

12595    621.5
12596    621.5
12597    621.6
12598    621.6
12599    621.6
Name: TI-11['C], dtype: float64

12595    608.7
12596    608.7
12597    608.7
12598    608.7
12599    608.7
Name: TI-12['C], dtype: float64

12595    559.0
12596    559.0
12597    559.0
12598    559.0
12599    559.0
Name: TI-13['C], dtype: float64

12595    516.5
12596    516.5
12597    516.5
12598    516.5
12599    516.5
Name: TI-14['C], dtype: float64

12595    484.9
12596    484.9
12597    484.9
12598    484.9
12599    484.9
Name: TI-15['C], dtype: float64

12595    416.9
12596    416.9
12597    416.9
12598    416.9
12599    416.9
Name: TI-16['C], dtype: float64

In [60]:
# 280W
print(df_280.columns)
t = df_280.loc[df_280['Curr[A]'] != 0, ' Elapse[min.]']
T1 = df_280.loc[df_280['Curr[A]'] != 0, "TI-1['C]"]
T2 = df_280.loc[df_280['Curr[A]'] != 0, "TI-2['C]"]
T3 = df_280.loc[df_280['Curr[A]'] != 0, "TI-3['C]"]
T4 = df_280.loc[df_280['Curr[A]'] != 0, "TI-4['C]"]
T5 = df_280.loc[df_280['Curr[A]'] != 0, "TI-5['C]"]
T6 = df_280.loc[df_280['Curr[A]'] != 0, "TI-6['C]"]
T7 = df_280.loc[df_280['Curr[A]'] != 0, "TI-7['C]"]
T8 = df_280.loc[df_280['Curr[A]'] != 0, "TI-8['C]"]
T9 = df_280.loc[df_280['Curr[A]'] != 0, "TI-9['C]"]
T10 = df_280.loc[df_280['Curr[A]'] != 0, "TI-10['C]"]
T11 = df_280.loc[df_280['Curr[A]'] != 0, "TI-11['C]"]
T12 = df_280.loc[df_280['Curr[A]'] != 0, "TI-12['C]"]
T13 = df_280.loc[df_280['Curr[A]'] != 0, "TI-13['C]"]
T14 = df_280.loc[df_280['Curr[A]'] != 0, "TI-14['C]"]
T15 = df_280.loc[df_280['Curr[A]'] != 0, "TI-15['C]"]
T16 = df_280.loc[df_280['Curr[A]'] != 0, "TI-16['C]"]
I = df_280.loc[df_280['Curr[A]'] != 0, 'Curr[A]']

display(T1.tail())
display(T2.tail())
display(T3.tail())
display(T4.tail())
display(T5.tail())
display(T6.tail())
display(T7.tail())
display(T8.tail())
display(T9.tail())
display(T10.tail())
display(T11.tail())
display(T12.tail())
display(T13.tail())
display(T14.tail())
display(T15.tail())
display(T16.tail())

# T1부터 T16까지 마지막에서 4번째 전값을 추출해서 리스트로 저장 (숫자만)
temp_profile = []
for i in range(1, 17):
    Ti = eval(f"T{i}")
    # 마지막에서 4번째 전값: -4 인덱스
    temp_profile.append(float(Ti.iloc[-4]))

# JSON 파일로 저장 (숫자만 리스트)
with open('Temp_profile_280W.json', 'w', encoding='utf-8') as f:
    json.dump(temp_profile, f, ensure_ascii=False, indent=4)

Index(['Date', 'Hour', ' Min.', ' Sec.', ' Elapse[min.]', 'MFC-1[sccm]',
       'MFC-2[sccm]', 'MFC-3[sccm]', 'MFC-4[sccm]', 'MFC-5[sccm]',
       'MFC-6[sccm]', 'Pre-HT['C]', 'HJ['C]', 'HB-1['C]', 'HB-2['C]',
       'HB-3['C]', 'HB-4['C]', 'HB-5['C]', 'TI-1['C]', 'TI-2['C]', 'TI-3['C]',
       'TI-4['C]', 'TI-5['C]', 'TI-6['C]', 'TI-7['C]', 'TI-8['C]', 'TI-9['C]',
       'TI-10['C]', 'TI-11['C]', 'TI-12['C]', 'TI-13['C]', 'TI-14['C]',
       'TI-15['C]', 'TI-16['C]', 'TI-SP1['C]', 'TI-SP2['C]', 'PT-1[bar]',
       'Volt[V]', 'Curr[A]'],
      dtype='object')

1795    595.0
1796    595.0
1797    595.0
1798    595.2
1799    595.2
Name: TI-1['C], dtype: float64

1795    634.9
1796    634.9
1797    634.9
1798    635.1
1799    635.1
Name: TI-2['C], dtype: float64

1795    698.5
1796    698.5
1797    698.5
1798    698.8
1799    698.8
Name: TI-3['C], dtype: float64

1795    726.3
1796    726.3
1797    726.3
1798    726.6
1799    726.6
Name: TI-4['C], dtype: float64

1795    757.6
1796    757.6
1797    757.6
1798    757.9
1799    757.9
Name: TI-5['C], dtype: float64

1795    750.6
1796    750.6
1797    750.6
1798    751.0
1799    751.0
Name: TI-6['C], dtype: float64

1795    761.8
1796    762.1
1797    762.1
1798    762.1
1799    762.5
Name: TI-7['C], dtype: float64

1795    740.0
1796    740.3
1797    740.3
1798    740.3
1799    740.6
Name: TI-8['C], dtype: float64

1795    797.9
1796    798.3
1797    798.3
1798    798.3
1799    798.6
Name: TI-9['C], dtype: float64

1795    782.1
1796    782.5
1797    782.5
1798    782.5
1799    782.7
Name: TI-10['C], dtype: float64

1795    743.0
1796    743.4
1797    743.4
1798    743.4
1799    743.7
Name: TI-11['C], dtype: float64

1795    778.1
1796    778.4
1797    778.4
1798    778.4
1799    778.6
Name: TI-12['C], dtype: float64

1795    658.4
1796    658.7
1797    658.7
1798    658.7
1799    659.0
Name: TI-13['C], dtype: float64

1795    659.5
1796    659.8
1797    659.8
1798    659.8
1799    660.0
Name: TI-14['C], dtype: float64

1795    638.3
1796    638.5
1797    638.5
1798    638.5
1799    638.7
Name: TI-15['C], dtype: float64

1795    588.0
1796    588.3
1797    588.3
1798    588.3
1799    588.5
Name: TI-16['C], dtype: float64

In [61]:
# 420W
print(df_420.columns)
t = df_420.loc[df_420['Curr[A]'] != 0, ' Elapse[min.]']
T1 = df_420.loc[df_420['Curr[A]'] != 0, "TI-1['C]"]
T2 = df_420.loc[df_420['Curr[A]'] != 0, "TI-2['C]"]
T3 = df_420.loc[df_420['Curr[A]'] != 0, "TI-3['C]"]
T4 = df_420.loc[df_420['Curr[A]'] != 0, "TI-4['C]"]
T5 = df_420.loc[df_420['Curr[A]'] != 0, "TI-5['C]"]
T6 = df_420.loc[df_420['Curr[A]'] != 0, "TI-6['C]"]
T7 = df_420.loc[df_420['Curr[A]'] != 0, "TI-7['C]"]
T8 = df_420.loc[df_420['Curr[A]'] != 0, "TI-8['C]"]
T9 = df_420.loc[df_420['Curr[A]'] != 0, "TI-9['C]"]
T10 = df_420.loc[df_420['Curr[A]'] != 0, "TI-10['C]"]
T11 = df_420.loc[df_420['Curr[A]'] != 0, "TI-11['C]"]
T12 = df_420.loc[df_420['Curr[A]'] != 0, "TI-12['C]"]
T13 = df_420.loc[df_420['Curr[A]'] != 0, "TI-13['C]"]
T14 = df_420.loc[df_420['Curr[A]'] != 0, "TI-14['C]"]
T15 = df_420.loc[df_420['Curr[A]'] != 0, "TI-15['C]"]
T16 = df_420.loc[df_420['Curr[A]'] != 0, "TI-16['C]"]
I = df_420.loc[df_420['Curr[A]'] != 0, 'Curr[A]']

display(T1.tail())
display(T2.tail())
display(T3.tail())
display(T4.tail())
display(T5.tail())
display(T6.tail())
display(T7.tail())
display(T8.tail())
display(T9.tail())
display(T10.tail())
display(T11.tail())
display(T12.tail())
display(T13.tail())
display(T14.tail())
display(T15.tail())
display(T16.tail())

# T1부터 T16까지 마지막에서 4번째 전값을 추출해서 리스트로 저장 (숫자만)
temp_profile = []
for i in range(1, 17):
    Ti = eval(f"T{i}")
    # 마지막에서 4번째 전값: -4 인덱스
    temp_profile.append(float(Ti.iloc[-4]))

# JSON 파일로 저장 (숫자만 리스트)
with open('Temp_profile_420W.json', 'w', encoding='utf-8') as f:
    json.dump(temp_profile, f, ensure_ascii=False, indent=4)

Index(['Date', 'Hour', ' Min.', ' Sec.', ' Elapse[min.]', 'MFC-1[sccm]',
       'MFC-2[sccm]', 'MFC-3[sccm]', 'MFC-4[sccm]', 'MFC-5[sccm]',
       'MFC-6[sccm]', 'Pre-HT['C]', 'HJ['C]', 'HB-1['C]', 'HB-2['C]',
       'HB-3['C]', 'HB-4['C]', 'HB-5['C]', 'TI-1['C]', 'TI-2['C]', 'TI-3['C]',
       'TI-4['C]', 'TI-5['C]', 'TI-6['C]', 'TI-7['C]', 'TI-8['C]', 'TI-9['C]',
       'TI-10['C]', 'TI-11['C]', 'TI-12['C]', 'TI-13['C]', 'TI-14['C]',
       'TI-15['C]', 'TI-16['C]', 'TI-SP1['C]', 'TI-SP2['C]', 'PT-1[bar]',
       'Volt[V]', 'Curr[A]'],
      dtype='object')

1794    783.6
1795    783.8
1796    783.8
1797    783.8
1798    784.1
Name: TI-1['C], dtype: float64

1794    837.4
1795    837.4
1796    837.7
1797    837.7
1798    837.7
Name: TI-2['C], dtype: float64

1794    918.2
1795    918.5
1796    918.5
1797    918.5
1798    918.8
Name: TI-3['C], dtype: float64

1794    961.4
1795    961.4
1796    961.6
1797    961.6
1798    961.6
Name: TI-4['C], dtype: float64

1794    1007.3
1795    1007.6
1796    1007.6
1797    1007.6
1798    1008.0
Name: TI-5['C], dtype: float64

1794    1008.3
1795    1008.3
1796    1008.6
1797    1008.6
1798    1008.6
Name: TI-6['C], dtype: float64

1794    988.2
1795    988.2
1796    988.6
1797    988.6
1798    988.6
Name: TI-7['C], dtype: float64

1794    982.5
1795    982.5
1796    982.8
1797    982.8
1798    982.8
Name: TI-8['C], dtype: float64

1794    1022.4
1795    1022.4
1796    1022.8
1797    1022.8
1798    1022.8
Name: TI-9['C], dtype: float64

1794    994.4
1795    994.4
1796    994.7
1797    994.7
1798    994.7
Name: TI-10['C], dtype: float64

1794    954.7
1795    954.7
1796    955.1
1797    955.1
1798    955.1
Name: TI-11['C], dtype: float64

1794    994.8
1795    994.8
1796    995.1
1797    995.1
1798    995.1
Name: TI-12['C], dtype: float64

1794    855.2
1795    855.2
1796    855.5
1797    855.5
1798    855.5
Name: TI-13['C], dtype: float64

1794    864.4
1795    864.4
1796    864.6
1797    864.6
1798    864.6
Name: TI-14['C], dtype: float64

1794    841.5
1795    841.5
1796    841.7
1797    841.7
1798    841.7
Name: TI-15['C], dtype: float64

1794    787.0
1795    787.0
1796    787.2
1797    787.2
1798    787.2
Name: TI-16['C], dtype: float64

In [58]:
tc_pos = [35e-3, 48e-3, 64e-3, 83e-3, 105e-3, 130e-3, 158e-3, 189.6e-3, 241e-3, 272e-3, 300e-3,
        325e-3, 347e-3, 366e-3, 382e-3, 395e-3]
with open('tc_pos.json', 'w', encoding='utf-8') as f:
    json.dump(tc_pos, f, ensure_ascii=False, indent=4)