# % 기호를 사용한 문자열 형식화

%s: 문자열

%d: 정수

%f: 부동소수점 실수

In [1]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [2]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [3]:
"원주율의 값은 %f입니다." % 3.141592

'월주율의 값은 3.141592입니다.'

In [4]:
"%d 곱하기 %d은 %d이다." % (2,3,6)

'2 곱하기 3은 6이다.'

In [5]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

### 연습 문제 2.4.1

In [6]:
"%s is %d years old" %("Tom", 13)

'Tom is 13 years old'

In [8]:
a = 10
b = 3
"%d / %d = %f" %(a,b,a/b)

'10 / 3 = 3.333333'

# 고급 형식지정 문자열

% 기호 다음에 오는 정수는 값이 출력될 때 차지하는 공간의 길이를 뜻한다

% 기호 다음에 소숫점이 있는 숫자가 오면 점 뒤의 숫자는 실수를 인쇄할 때 소숫점 아래로 그만큼의 숫자만 출력하라는 뜻이다.

만약 공간의 길이가 출력될 값보다 크면 정수가 양수일 때는 값을 뒤로 보내고 공백을 앞에 채우거나 반대로 정수가 음수이면 값을 앞으로 보내고 공백을 뒤에 채운다.

In [9]:
"[%20s]" %"*"

'[                   *]'

In [10]:
"[%-20s]" % "A"

'[A                   ]'

In [14]:
"[%20d]" % 123

'[                 123]'

In [15]:
"[%-20d]" % 123

'[123                 ]'

In [16]:
x = 1 / 3.0
"%.5f" % x

'0.33333'

### 연습 문제 2.4.2

In [21]:
print("%8d" % 3)
print("x%7d" % 12)
print('-'*8)
print('%8d' % 36)

       3
x     12
--------
      36

In [25]:
print("%6d" % 123+ "," + "456")
print("x%5d" % 7 + "," + "890")
print("-"*10)
print("%6d" % 131 + "," + "346")

   123,456
x    7,890
----------
   131,346

# format 메서드를 사용한 문자열 형식화

In [26]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [29]:
"내 이름은 {{{}}}입니다.".format("홍길동")

'내 이름은 {홍길동}입니다.'

In [31]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점".format("수학",100,"철수")

'철수의 수학 점수는 100점입니다. 100점! 100점'

In [32]:
"{a}점수: {x}점, {b}점수: {y}점".format(a='영어',b='수학', x=100, y=90)

'영어점수: 100점, 수학점수: 90점'

{:>10} | 전체 10칸을 차지하며 공백을 앞에 붙임 (문자열을 오른쪽에 붙여서 출력)

{:<10} | 전체 10칸을 차지하며 공백을 뒤에 붙임 (문자열을 왼쪽에 붙여서 출력)

{:^10} | 전체 10칸을 차지하며 공백을 앞뒤에 붙임 (문자열을 중앙에 붙여서 출력)

{:.5f} | 부동소수점의 소수점 아래 5자리까지 표시

{:,} | 천단위 쉼표 표시

In [33]:
'[{:<20}]'.format("*")

'[*                   ]'

In [34]:
'[{:>20}]'.format('*')

'[                   *]'

In [35]:
'[{:^20}]'.format('*')

'[         *          ]'

{:*>10} | 전체 10칸을 차지하며 *을 앞에 붙임 (문자열을 오른쪽에 붙여서 출력)

{:*<10} | 전체 10칸을 차지하며 *을 뒤에 붙임 (문자열을 왼쪽에 붙여서 출력)

{:*^10} | 전체 10칸을 차지하며 *을 앞뒤에 붙임 (문자열을 중앙에 붙여서 출력)

In [36]:
'[{:-<20}]'.format('*')

'[*-------------------]'

In [37]:
'[{:->20}]'.format("*")

'[-------------------*]'

In [38]:
'[{:-^20}]'.format('*')

'[---------*----------]'

In [42]:
x = [10, 11, 12]
'리스트의 첫번째 원소={0[0]}'.format(x)

'리스트의 첫번째 원소=10'

In [43]:
y = {'a': 10, 'b': 11, 'c': 12}
'사전의 a키 값={0[a]}'.format(y)

'사전의 a키 값=10'

### 연습 문제 2.4.3

In [50]:
print('{:>8}'.format('3'))
print('x{:>7}'.format('12'))
print('{:->8}'.format(''))
print('{:>8}'.format(36))

       3
x     12
--------
      36

In [55]:
print('{:>10,}'.format(123456))
print('+{:>9,}'.format(7890))
print('{:->10}'.format(''))
print('{:>10,}'.format(131346))

   123,456
+    7,890
----------
   131,346

# f문자열

In [56]:
name = '홍길동'
age = 32
print(f'{name}의 나이는 {age}살이다.')

홍길동의 나이는 32살이다.

In [57]:
number = 1234567

In [58]:
f'[{number:<20}]'

'[1234567             ]'

In [59]:
f'[{number:>20}]'

'[             1234567]'

In [60]:
f'[{number:^20}]'

'[      1234567       ]'

In [61]:
f'[{number:-<20}]'

'[1234567-------------]'

In [62]:
f'[{number:->20}]'

'[-------------1234567]'

In [65]:
f'[{number:-^20,}]'

'[-----1,234,567------]'

In [66]:
f_number = 3.141592
f'[{f_number:20.3f}]'

'[               3.142]'

### 연습 문제 2.4.4

In [78]:
a = 3
b = 12
c = ''
print(f'{a:>8}')
print(f'x{b:>7}')
print(f'{c:->8}')
print(f'{a*b:>8}')

       3
x     12
--------
      36

In [83]:
a = 123456
b = 7890
c = ''
print(f'{a:>10,}')
print(f'+{b:>9,}')
print(f'{c:->10}')
print(f'{a+b:>10,}')

   123,456
+    7,890
----------
   131,346