In [267]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import scipy.optimize as optimize

In [268]:
data_20r = {
    'k0': [400000,500000,750000,900000,900000,2900000,3500000,16000000,3892216867299.855,1126346134192.752,35048547192.64328,13828534337.991575 ],
    'Ea': [1.25,1.25,1.25,1.25,1.4,1.4,1.4,1.8,2.183,2.131,1.912,1.854],
    'Conv': [80.2,82.3,85.6,87.0,60.5,74.4,76.4,21.8,92.175,86.3,87.2,87.5]
}
df_20r = pd.DataFrame(data_20r)
data_35r = {
    'k0': [400000,750000,900000,3500000,16000000,3892216867299.855,1126346134192.752,35048547192.64328,13828534337.991575 ],
    'Ea': [1.25,1.25,1.4,1.4,1.8,2.183,2.131,1.912,1.854],
    'Conv': [79.8,84.5,63.9,76,25.5,79.2,67.3,71.4,72.1]
}
df_35r = pd.DataFrame(data_35r)

In [269]:
df_20r['lnk'] = np.log(df_20r['k0'])
df_35r['lnk'] = np.log(df_35r['k0'])

In [270]:
x = df_20r[['lnk','Ea']]
y = df_20r['Conv']

model20 = LinearRegression()
model20.fit(x,y)
y_pred = model20.predict(x)

print("결정계수:", model20.score(x, y))
print("회귀 계수:", model20.coef_)
print("절편:", model20.intercept_)

결정계수: 0.9988075677357716
회귀 계수: [  11.14700043 -178.93632116]
절편: 158.90106097104672

In [271]:
df_20r

              k0     Ea    Conv        lnk
0   4.000000e+05  1.250  80.200  12.899220
1   5.000000e+05  1.250  82.300  13.122363
2   7.500000e+05  1.250  85.600  13.527828
3   9.000000e+05  1.250  87.000  13.710150
4   9.000000e+05  1.400  60.500  13.710150
5   2.900000e+06  1.400  74.400  14.880221
6   3.500000e+06  1.400  76.400  15.068274
7   1.600000e+07  1.800  21.800  16.588099
8   3.892217e+12  2.183  92.175  28.990000
9   1.126346e+12  2.131  86.300  27.750000
10  3.504855e+10  1.912  87.200  24.280000
11  1.382853e+10  1.854  87.500  23.350000

In [272]:
a = 16000000
b = 1.8
a*model20.coef_[0] + b*model20.coef_[1] + model20.intercept_

178351843.7529233

In [273]:
x = df_35r[['lnk','Ea']]
y = df_35r['Conv']

model35 = LinearRegression()
model35.fit(x,y)
y_pred = model35.predict(x)

print("결정계수:", model35.score(x, y))
print("회귀 계수:", model35.coef_)
print("절편:", model35.intercept_)

결정계수: 0.9705822641455463
회귀 계수: [   8.56783819 -154.86026314]
절편: 162.34864683063802

In [274]:
def opt(x):
    return (x[0]*model20.coef_[0] + x[1]*model20.coef_[1] + model20.intercept_ - 87.5)**2 + (x[0]*model35.coef_[0] + x[1]*model35.coef_[1] + model35.intercept_ - 76)**2

In [275]:
x0 = [np.log(1126346134192.752),2.131]
bounds = ((0, np.inf), (0, 10))
result = optimize.minimize(opt, x0, bounds=bounds)

In [276]:
print(result)

  message: CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL
  success: True
   status: 0
      fun: 4.662239844441307e-10
        x: [ 2.275e+01  1.816e+00]
      nit: 4
      jac: [ 6.868e-11 -4.728e-10]
     nfev: 27
     njev: 9
 hess_inv: <2x2 LbfgsInvHessProduct with dtype=float64>

In [280]:
rpm2 = np.exp(result.x[0])
rpm35 = 5*rpm2
print(rpm2, rpm35)

7589657411.903017 37948287059.51508

In [278]:
# 역산 모델
x2 = 1.25
x1 = (74 - x2*model.coef_[1] - model.intercept_)/model.coef_[0]
x1

-91414.14141414558