In [21]:
import os
import pandas as pd
import numpy as np

In [22]:
# 엑셀 파일 목록 가져오기
excel_files = [f for f in os.listdir('.') if f.endswith(('.xlsx', '.xls'))]
len(excel_files)

44

In [23]:
colName = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','AA','AB','AC','AD','AE','AF','AG','AH','AI','AJ','AK','AL','AM']
idx = 0
df = pd.DataFrame()
for file in excel_files:
    df_comp = pd.DataFrame()
    df_sub = pd.read_excel(file, sheet_name='LA')
    df_sub.columns = colName
    exp_num = [idx] * 10
    voltage = df_sub['N'].iloc[4]
    Temp_F = df_sub['G'].iloc[13:23]
    Temp_A = df_sub['H'].iloc[13:23]
    Temp_B = df_sub['I'].iloc[13:23]
    C_E = float(df_sub['C'].iloc[7].split('M')[0])
    Ci_LA = float(df_sub['C'].iloc[4].split('M')[0])
    Ci_K = float(df_sub['C'].iloc[4].split('M')[1].split('+')[1])
    time = df_sub['C'].iloc[13:23]
    CF_LA = df_sub['P'].iloc[13:23]
    CA_LA = df_sub['Q'].iloc[13:23]
    CB_LA = df_sub['R'].iloc[13:23]
    CF_K = df_sub['AB'].iloc[13:23]
    CA_K = df_sub['AC'].iloc[13:23]
    CB_K = df_sub['AD'].iloc[13:23]
    pH_F = df_sub['S'].iloc[13:23]
    pH_A = df_sub['T'].iloc[13:23]
    pH_B = df_sub['U'].iloc[13:23]
    VF_Tank = df_sub['AE'].iloc[13:23]
    VA_Tank = df_sub['AF'].iloc[13:23]
    VB_Tank = df_sub['AG'].iloc[13:23]
    VF_Line = df_sub['AE'].iloc[10]
    VA_Line = df_sub['AF'].iloc[10]
    VB_Line = df_sub['AG'].iloc[10]

    SEC = pd.concat([pd.Series([0]), df_sub['AC'].iloc[63:73], pd.Series([np.nan] * (9 - len(df_sub['AC'].iloc[63:73])))]).to_list()

    df_comp = pd.concat([df_comp, pd.DataFrame({'exp': exp_num, 'Voltage [V]': voltage, 'Temp_F [C]': Temp_F, 'Temp_A [C]': Temp_A, 'Temp_B [C]': Temp_B, 'Electrolyte [M]': C_E,
                                      'Ci_LA [M]': Ci_LA, 'Ci_K [M]': Ci_K, 'Time [hr]': time,
                                      'CF_LA [M]': CF_LA, 'CA_LA [M]': CA_LA, 'CB_LA [M]': CB_LA,
                                      'CF_K [M]': CF_K, 'CA_K [M]': CA_K, 'CB_K [M]': CB_K,
                                      'pH_F': pH_F, 'pH_A': pH_A, 'pH_B': pH_B,
                                      'VF_Tank [L]': VF_Tank, 'VA_Tank [L]': VA_Tank, 'VB_Tank [L]': VB_Tank,
                                      'VF_Line [L]': VF_Line, 'VA_Line [L]': VA_Line, 'VB_Line [L]': VB_Line,
                                      'SEC [kWh/kg]': SEC})], ignore_index=True)
    if idx == 0:
        df = df_comp
    else:
        df = pd.concat([df, df_comp], ignore_index=True)
    idx += 1
df

,exp,Voltage [V],Temp_F [C],Temp_A [C],Temp_B [C],Electrolyte [M],Ci_LA [M],Ci_K [M],Time [hr],CF_LA [M],...,pH_F,pH_A,pH_B,VF_Tank [L],VA_Tank [L],VB_Tank [L],VF_Line [L],VA_Line [L],VB_Line [L],SEC [kWh/kg]
0,0,30,20.9,20.7,21.2,0.25,0.5,1.0,0,0.467925,...,13.5,10.72,11.54,0.8,0.8,0.8,0.20,0.2,0.20,0.000000
1,0,30,25.6,25.7,26.2,0.25,0.5,1.0,1,0.434063,...,13.27,2.96,13.04,0.8,0.8,0.8,0.20,0.2,0.20,2.011212
2,0,30,29.5,29.3,29.9,0.25,0.5,1.0,2,0.312599,...,12.53,2.36,13.45,0.8,0.8,0.8,0.20,0.2,0.20,1.311964
3,0,30,26.2,26.1,27,0.25,0.5,1.0,3,-0.004546,...,10.51,2.17,13.58,0.8,0.8,0.8,0.20,0.2,0.20,0.909535
4,0,30,NaN,NaN,NaN,0.25,0.5,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.20,0.2,0.20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,43,35,35,34.3,34.7,0.50,3.0,6.0,5.933333,0.258292,...,11.064,2.242,13.739,0.1,1.2,2.05,0.18,0.2,0.15,3.102596
436,43,35,29.8,29,29.6,0.50,3.0,6.0,6.933333,0.048301,...,3.447,2.255,13.991,0.05,1.2,2.1,0.18,0.2,0.15,3.098637
437,43,35,NaN,NaN,NaN,0.50,3.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.18,0.2,0.15,NaN
438,43,35,NaN,NaN,NaN,0.50,3.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.18,0.2,0.15,NaN
439,43,35,NaN,NaN,NaN,0.50,3.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.18,0.2,0.15,NaN

In [24]:
C_E = float(df_sub['C'].iloc[4].split('M')[1].split('+')[1])
C_E

6.0

In [25]:
SEC = pd.concat([df_sub['AC'].iloc[63:73], pd.Series([np.nan] * (10 - len(df_sub['AC'].iloc[63:73])))]).reset_index(drop=True)
SEC

0    9.960608
1    7.339164
2    4.875268
3    3.764499
4    3.102596
5    3.098637
6         NaN
7         NaN
8         NaN
9         NaN
dtype: object